.loading small {
  position: absolute;
  top: 54px;
}

h1 {
  display: inline;
}

.badge {
  float: right;
  margin-top: 15px;
}
.fas {
  margin-right: 2px;
  margin-left: 2px;
  font-size: 30px;
}

.red {
  color: #dc3545;
}
.green {
  color: #28a745;
}
.fa-caret-left,
.fa-caret-right {
  color: goldenrod;
}

td {
  padding: 5px;
  height: 41px;
}

td p {
  margin: 0px;
  display: inline;
}

.card {
  margin: 0 auto;
}

.table {
  width: 70%;
  margin: 0 auto;
}
